.login {
    min-height: calc(100vh);
    position: relative;

    @media (max-width: 768px) {
        min-height: inherit;
        height: auto;
    }

    .fluid-img {
        z-index: 0;
        height: 100vh;
        flex: 1 1;
        position: fixed;
        min-height: 999px;
        left: 0;
        width: 100%;

        @media (max-width: 1200px) {
            top: 0;
        }

        .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 999px;
            background-position: top left;
            background-size: auto 100%;
            background-repeat: no-repeat;

            @media (max-width: 1200px) {
                background-size: cover;
                background-position: center;
            }
        }
    }

    .page {
        min-height: 999px;
        height: calc(100vh);
        position: relative;
        left: 8px;

        @media (max-width: 1200px) {
            left: 0;
        }

        @media (max-width: 768px) {
            min-height: inherit;
            height: auto;
        }

        .page-content {
            position: relative;
            background: transparent;
            width: 100%;
            min-height: 100vh;
            top: 0;
            box-shadow: none;
            margin-bottom: 30px;
            padding-top: 150px;

            @media (max-width: 1200px) {
                padding-top: 80px;
            }

            @media (max-width: 768px) {
                padding-top: 0;
                min-height: inherit;
                margin: 0;
            }

            .contain {
                width: 100%;
                padding-left: 15%;
                padding-right: 15%;
                padding-top: 37px;
                padding-bottom: 37px;
                box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
                background: #FAFAFA;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                height: 770px;
                align-items: center;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                @media (max-width: 1200px) {
                    border-radius: 0;
                    background: rgba(255,255,255,.9);
                }

                @media (max-width: 768px) {
                    height: auto;
                }

                .row, form {width: 100%}

                .identfy {
                    color: rgb(144, 144, 144);
                    font-size: 12pt;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    margin: 30px 0;
                    width: 100%;

                    span {
                        padding-left: 15px;
                        padding-right: 15px;
                    }

                    &::before {
                        height: 1px;
                        background: #909090;
                        content: "";
                        flex: 1;
                    }

                    &::after {
                        height: 1px;
                        background: #909090;
                        content: "";
                        flex: 1;
                    }
                }

                .material-title {
                    letter-spacing: 0;
                }

                .materials {
                    margin-bottom: 15px;
                }

                .btn {
                    width: 100%;
                }

                .remember-password {
                    padding-top: 5px;

                    a {
                        font-size: 9pt;
                        color: #1A1818;

                        &:hover {
                            color: #00B2A9;
                        }
                    }
                }

                .typography {
                    margin: 0;
                    padding: 0;
                    line-height: 100%;
                    margin-bottom: 15px;
                }
            }
        }
    }

    &-footer-start {
        height: 45px;
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;

        @media (max-width: 768px) {
            flex-direction: column;

            .col {
                margin-bottom: 15px;
            }
        }
    }

    &-footer {
        text-align: center;
        width: 100%;
        font-size: 9pt;
        text-decoration: underline;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #181818;
        margin-top: 20px;
    }
}