.header {
    height: 130px;
    display: flex;

    .logo {
        height: 155px;
        background: #1A1818;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        max-width: 345px;

        img {
            max-height: 130px;
        }
    }

    .nav-menu {
        margin: 0;
        padding: 0;

        .bar {
            padding: 0;

            .nav-element {
                width: 100%;
                justify-content: space-between;
                height: 65px;
                margin: 0;
            }
        }
    }
}