.btn {
    border: none;
    &:hover {color: inherit}
    &:focus, &:active, &.active {border: none; box-shadow: none; background: inherit; color: inherit}
}

.btn.bg-soft-button {
    background: transparent;
    color: #fff;
    border-radius: 0;
    font-size: 15pt;
    padding: 15px 40px;
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: radial-gradient(rgb(56, 56, 56), rgba(163, 163, 163, 0.53));
        transform: matrix(1, 0, -.7, 1, 0, 0);
    }
}

.btn.blue {
    background: #00B2A9;
    color: #fff;

    &:hover {color: #fff}
}

.btn.gray {
    background: #909090;
    color: #fff;

    &:hover {color: #fff}
}

.btn.dark {
    background: #181818;
    color: #fff;

    &:hover {color: #fff}
}

.icon-button {
    color: #181818;
    font-weight: 300;

    .icon {
        margin-right: 10px;
        color: #707070;
        font-size: 10pt;
    }

    &:hover {
        color: #00B2A9;
    }
}

.btn.icon-button {
    .icon {
        margin-right: 10px;
        color: #fff;
        font-size: 10pt;
    }

    span {
        &:before {
            content: "|";
            display: inline-block;
            margin-right: 10px;
            font-weight: lighter;
        }
    }
}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active, .show>.btn.dropdown-toggle {
    color: initial;
    background-color: initial;
    border-color: initial;
}

.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show>.btn.dropdown-toggle:focus {
    box-shadow: none;
}