@import "./reset/index.css";

body {
    font-family: 'Poppins', sans-serif;
}

.app-root {
    /*padding-top: 130px;*/
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* components */

/* header */
@import "./header";

/* buttons */
@import "./buttons";

/* sliders */
@import "./sliders";

/* typography */
@import "./typography";

/* material */
@import "./material";

/* banner */
@import "./banner";

/* inputs */
@import "./inputs";

/* blog-banner */
@import "./blog-banner";

/* footer */
@import "./footer";

/* toast */
@import "./toast";

/* components */

@import "./middleware";