@import './reset/index.css';

:root {
  --base-font-size: 16px;
  --blue: #00b2a9;
  --black1: #1a1818;
  --black2: #181818;
  --black3: #383838;
  --gray1: #909090;
  --gray2: #bbbbbb;
  --gray3: #666666;
  --gray4: #d3d3d3;
  --white1: #f8f8f8;
  --trunge: #ffba00;
  --orange2: #f77e0b;
  --red: #f01c62;
}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-y: overlay;
}

#root {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.MuiPopover-root {
  z-index: 100000 !important;
}

#pt-point-page {
  position: relative;
  right: 0;
  transition: right 0.5s ease;

  @media (max-width: 1200px) {
    &.open-hamburger-menu {
      right: -55%;
    }

    .over-flow-y-auto {
      width: calc(100% + 45px);
      margin: 0 -30px;
      padding: 0 30px;
      overflow-y: auto;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 768px) {
    &.open-hamburger-menu {
      right: -70%;
    }
  }
}

.main {
  min-height: 100vh;

  @media (max-width: 1200px) {
    min-height: inherit;
  }
}

.app-root {
  /*padding-top: 130px;*/
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* components */

/* header */
@import './header';

/* buttons */
@import './buttons';

/* sliders */
@import './sliders';

/* typography */
@import './typography';

/* material */
@import './material';

/* banner */
@import './banner';

/* inputs */
@import './inputs';

/* blog-banner */
@import './blog-banner';

/* step-bar */
@import './step-bar';

/* tab */
@import './tab';

/* footer */
@import './footer';

/* dialog */
@import './dialog';

/* sliders */
@import './certificate/';

/* components */

@import './sub-page';

@import './responsive';

/* bootstrap */
@import './bootstrap';
