.packet-slider {
    height: auto;
    position: relative;
    width: 100%;

    .slick-slider-buttons {
        width: 100%;
        position: relative;
        height: 1px;
        z-index: 1000;

        .slick-button {
            position: absolute;
            padding: 0 15px;
            color: #fff;
            font-size: 2.5em;
            top: 0;
            cursor: pointer;

            &.next {
                right: -130px;
                background: #ccc;
                transform: matrix(1, 0, -0.3, 1, 0, 0);

            }

            &.prev {
                right: -50px;
                background: #ccc;
                transform: matrix(1, 0, -0.3, 1, 0, 0);
            }

            &:hover {
                top: -23px;
                background: rgb(0, 178, 169);
                font-size: 3.5em;
                transform: matrix(1, 0, -0.3, 1, 0, 0);
            }
        }
    }

    .sliders {
        margin-top: 45px;
        height: 610px;

        .slick-slider {
            height: 610px;
        }
    }

    .slider-item {
        padding: 15px;
        cursor: pointer;
        height: 610px;

        .slider-item-content {
            width: 100%;
            height: 580px;
            box-shadow: rgba(0, 0, 0, 0.12) 5px 5px 7px 5px;
            background: rgb(254, 254, 254);
            border-radius: 30px;
            position: relative;
            transition: all 0.7s cubic-bezier(0, 0, 1, -0.43) 0s;
            top: 0px;

            &:hover {
                top: -12px;
                box-shadow: rgba(0, 178, 169, 0.12) 5px 5px 7px 5px;
            }

            .img-item {
                width: 100%;
                display: flex;
                padding: 15px 30px;
                padding-top: 30px;

                .img {
                    width: 100%;
                    height: 420px;
                    border-radius: 30px;
                    background-size: cover;
                    background-position: center center;
                    flex: 1 1 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .points {
                        display: flex;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        padding: 15px;
                        border-bottom-right-radius: 40px;
                        background: radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.53));
                        opacity: .7;

                        li {
                            margin: 2px;
                            cursor: pointer;

                            svg {
                                color: #ccc;
                                font-size: 9pt;
                            }

                            &:hover,
                            &.active {
                                svg {
                                    color: #FFBA00;
                                }
                            }
                        }
                    }
                }

                .team {
                    position: absolute;
                    color: #fff;
                    background: #00B2A9;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    bottom: -25px;
                    border: 2px solid #fff;
                    font-size: 1.3em;
                    font-weight: bold;
                }

                .info {
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-left: 5px;
                    margin-right: -17px;
                    margin-top: 15px;
                    margin-bottom: 15px;

                    p {
                        justify-content: flex-start;
                        align-items: flex-start;
                        font-size: 1.2em;
                        letter-spacing: 10px;
                    }
                }
                
            }
    
            .text-item {
                width: 100%;
                padding: 15px 30px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;

                .typography.title {
                    justify-content: flex-start;
                    text-align: left;
                    align-items: flex-start;
                }

                .info {
                    width: 100%;

                    ul {
                        width: 100%;

                        li {
                            display: list-item;
                        }
                    }

                    span {
                        font-size: 1.2em;
                        font-weight: 900;
                        position: relative;
                        left: 30px;
                    }
                }
            }
        }
    }

    .slick-active.slick-current {
        .slider-item {
            .slider-item-content {
                top: -12px;
                box-shadow: rgba(0, 178, 169, 0.12) 5px 5px 7px 5px;
            }
        }
    }

    .packet-category {
        width: 100%;
        position: relative;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -15px;
            margin-right: -15px;

            li {
                width: auto;
                display: flex;
                margin: 15px;

                a {
                    display: flex;
                    padding: 15px;
                    color: #303030;
                    font-weight: 700;
                    font-size: 14pt;
                    border-bottom: 2px solid #fff;
                }

                &:hover,
                &.active {
                    a {
                        color: #00b2a9;
                        border-bottom: 2px solid #00b2a9;
                    }
                }
            }
        }
    }
}